@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;    
    background-color: powderblue;
    font-family: Delicious Handrawn;
}
  .head {
    height: 75px;
    align-self: center;
    font-size: x-large;
    font-family: Delicious Handrawn;
    color: rgb(180, 158, 29);
  }
  
  /* Containter for the etch-a-sketch box*/
  .container {
    display: flex;
    justify-content: center;
  }
  
  #square {
    padding: 0;
    margin: 0;
    justify-content: center;
    border: 2vw solid red;
    background-color: white;
    display: flex;
    height: 32vw;
    width: 32vw;
    border-radius: 2vw;
    flex-wrap: wrap;
    flex-direction: row;
  }

  button {
    border-radius: 8px;
    border: none;
    margin: 20px;
    margin-top: 40px;
    font-weight: bold;
    font-size: x-large;
    background-color: gold;
    color: white;
    padding: 10px 20px;
    font-family: Delicious Handrawn;
    align-self: start;

  }

  /* For the rainbow button*/
  #rgb:hover {
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  }

  button:hover{
    background-color: red;
  }

  button:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }
    .buttons {
      display: flex;
      justify-content: center;
    }

  .slidecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider  {
    margin-right: 2vw;
    margin-left: 2vw;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 50%;
    outline: none;
    cursor: pointer;
    border: 5px solid red;
    border-radius: 8px;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 50px;
    background: white;
    cursor: pointer;
    border: 5px solid red;
    border-radius: 4px;
  }

  #slidevalue {
    font-size: x-large;
  }

  h3 {
    font-size: x-large;
  }

  .footer {
      color: #f9faf8;
      background-color: rgba(128, 56, 15, 0.842);
      font-weight: bold;
      flex: 0 0 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Courier New', Courier, monospace;
  }